{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container border mt-4">
    
    
        <form action=" " method="post" autocomplete="off">
            {% csrf_token%}
        
        {{form|crispy}}
        

        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>

            </div>
            <div class="col-md-4">
                <a href="{% url 'list' %}" class="btn btn-secondary btn-block btn-lg">Back</a>
            </div>
        </div>
        
        
        </form>
    
    
</div>



{% endblock %}